button {
    outline: none;
}
button:focus {
    outline: none;
}
.el-button {
    outline: none;
}
.el-button:focus {
    outline: none;
}
.el-radio-button {
    outline: none;
}
.el-radio-button:focus {
    outline: none;
}
.el-dropdown {
    outline: none;
}
.el-dropdown:focus {
    outline: none;
}
.el-dropdown-link {
    outline: none;
}
.el-dropdown-link:focus {
    outline: none;
}
