@import 'v-charts/lib/style.css';

@font-face {
    font-family: 'Filfox';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('~assets/fonts/Alibaba-PuHuiTi-Regular.otf') format('truetype');
}

@font-face {
    font-family: 'Filfox';
    font-style: medium;
    font-weight: 500;
    font-display: swap;
    src: url('~assets/fonts/Alibaba-PuHuiTi-Bold.otf') format('truetype');
}

@font-face {
    font-family: 'Filfox';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('~assets/fonts/Alibaba-PuHuiTi-Bold.otf') format('truetype');
}

.social {
    font-family: 'Filfox';
}

html {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif, "Helvetica Neue", Helvetica, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYiMicro Hei";
}

button {
    outline: none;
}

button:focus {
    outline: none;
}

.el-button {
    outline: none;
}

.el-button:focus {
    outline: none;
}

.el-radio-button {
    outline: none;
}

.el-radio-button:focus {
    outline: none;
}

.el-dropdown {
    outline: none;
}

.el-dropdown:focus {
    outline: none;
}

.el-dropdown-link {
    outline: none;
}

.el-dropdown-link:focus {
    outline: none;
}

.el-loading-spinner svg {
    display: inline-block;
}

.el-button--text {
    color: #606266
}

.el-button--text:focus,
.el-button--text:hover {
    color: #606266;
}

.el-tabs__item {
    padding: 0 10px;
    font-size: 12px;
}

.el-popover {
    word-break: normal;
    text-align: left;
}

.el-loading-spinner .el-loading-text {
    font-size: 12px;
    margin-top: 10px;
}

.min-h-screen {
    min-height: 100vh;
}

.el-pagination .el-input__inner {
    height: 20px !important;
}

.el-pagination .el-icon-arrow-left:before {
    content: "\e792" !important;
}

.el-pagination .el-icon-arrow-right:before {
    content: "\e791" !important;
}

.el-pager .number.active {
    color: #1a4fc9;
}

.el-pager .number:hover {
    color: #1a4fc9;
}

.el-tooltip__popper {
    @apply bg-main !important;
}

.el-tooltip__popper .popper__arrow {
    border-top-color: #1a4fc9 !important;
}

.el-tooltip__popper .popper__arrow::after {
    border-top-color: #1a4fc9 !important;
}

.el-tooltip__popper .popper__arrow {
    border-bottom-color: #1a4fc9 !important;
}

.el-tooltip__popper .popper__arrow::after {
    border-bottom-color: #1a4fc9 !important;
}

table th {
    @apply font-normal !important;
}

.el-radio-group .el-radio-button__inner {
    font-weight: normal !important;
}

.el-radio-group .is-active .el-radio-button__inner {
    color: #5D9DF8 !important;
    border-color: #BED9FC !important;
    background: #EEF5FE !important;
    box-shadow: none !important;
}

.el-radio-group label:has(+label.is-active) .el-radio-button__inner {
    border-right-color: #BED9FC !important;
}

.el-select .el-input--mini input {
    border-radius: 99px !important;
}

.auto-width {
    min-width: 50px !important;
    text-align: start !important;
}
.auto-width .el-input__prefix {
    position: relative !important;
    box-sizing: border-box !important;
    padding: 0 32px 0 15px !important;
    height: 29px !important;
    line-height: 29px !important;
    right: 0 !important;
    visibility: hidden !important;
}
.auto-width .el-input__inner {
    position: absolute !important;
    padding-left: 15px !important;
}
